workflow/email_management_workflow_ai.json
{
  "name": "email_management_workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        32
      ],
      "id": "99bb95ac-7b9e-4bdf-aaf9-6330f6d217f0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y4zDXKjuhFjzSN5m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AACN6LZT9",
          "mode": "list",
          "cachedResultName": "sales"
        },
        "text": "=📧 New Customer Email Received  \nFrom:  {{ $json.From }}\nSubject:  {{ $json.Subject }}\nSummary: {{$json[\"snippet\"].slice(0, 150)}}...",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        944,
        96
      ],
      "id": "c6a14c3e-2a04-4799-bd6e-127e0a8343e8",
      "name": "Send a message",
      "webhookId": "dff513f0-024a-44e3-81b8-8e5f4a327c19",
      "credentials": {
        "slackOAuth2Api": {
          "id": "khHIEEVl0mWLOe3l",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AAMQ6RR8B",
          "mode": "list",
          "cachedResultName": "marketing"
        },
        "text": "=📧 New Customer Email Received   \nFrom:{{ $('Gmail Trigger').item.json.From }}   \nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nSummary: {{$json[\"snippet\"].slice(0, 150)}}..",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        704,
        192
      ],
      "id": "70411f04-6c64-44e1-8653-498974c67e16",
      "name": "Send a message1",
      "webhookId": "f8265b81-5d82-41b4-bb7e-9e131a223d1a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "khHIEEVl0mWLOe3l",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AACN97H0F",
          "mode": "list",
          "cachedResultName": "hr"
        },
        "text": "=📧 New Customer Email Received   \nFrom:  {{ $json.From }} \nSubject:  {{ $json.Subject }} \nSummary: {{$json[\"snippet\"].slice(0, 150)}}..",
        "otherOptions": {
          "mrkdwn": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        496,
        -112
      ],
      "id": "9aa6a537-8a07-43b7-a0a6-f23cd5612e88",
      "name": "Send a message2",
      "webhookId": "5f8d0d17-e1dd-426e-8762-cbccf492acf9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "khHIEEVl0mWLOe3l",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AACNA9AMD",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "=📩 Unclassified Email Received  \nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}  \nPlease review manually.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        464,
        304
      ],
      "id": "ba5d4091-e340-4fec-88ad-aa615a06a34a",
      "name": "Send a message4",
      "webhookId": "6302b83f-ad37-4c55-b872-2ece66758bab",
      "credentials": {
        "slackOAuth2Api": {
          "id": "khHIEEVl0mWLOe3l",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "We Have Received Your Message",
        "emailType": "text",
        "message": "Hello,  \n\nThank you for contacting our customer service team. We have received your message and are currently reviewing it. \nOur team will get back to you as soon as possible.  \n\nBest regards, \nCustomer Support Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        -96
      ],
      "id": "4896806b-214c-4113-8892-26698a917861",
      "name": "Send a message5",
      "webhookId": "0d817594-3ecc-4a48-b2bd-f217cca0d3e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y4zDXKjuhFjzSN5m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AB73VAZQ9",
          "mode": "list",
          "cachedResultName": "customer-support"
        },
        "text": "=📧 New Customer Email Received   \nFrom:  {{ $json.From }} \nSubject:  {{ $json.Subject }} \nSummary: {{$json[\"snippet\"].slice(0, 150)}}..",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1168,
        -96
      ],
      "id": "59bf7c59-5992-4518-9fc1-4e03d4b3be4e",
      "name": "Send a message3",
      "webhookId": "3c514861-4ca2-482d-911f-c2e579ec4537",
      "credentials": {
        "slackOAuth2Api": {
          "id": "khHIEEVl0mWLOe3l",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "Sends message to HR Channel on Slack",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -208
      ],
      "id": "10166d09-eed8-452b-8120-d00338abcd8d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Sends message to Customer Service Channel on Slack",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        64
      ],
      "id": "008309fd-2ba2-4cef-aa76-e020fe26d461",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Customer Service sends Acknowledgement mail",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        64
      ],
      "id": "8519badc-0fac-4cf0-bdc2-f50fe920dc52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Sends message to Sales Department Channel on Slack",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        256
      ],
      "id": "bf8d0de9-c275-4cca-972b-0b47ccc4b01d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Sends message to Marketing Department Channel on Slack",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        336
      ],
      "id": "1f12dd01-44e5-4da9-b904-2986de303377",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Fallback incase the mail sent is not in any of the category.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        448
      ],
      "id": "8692cb5e-de47-4fcf-b8f5-de6872b4f99e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c60ef83-80d9-46ae-82d8-0daff99b571a",
              "name": "email_text",
              "value": "={{ ($json.Subject || \"\") + \" \" + ($json.snippet || \"\") }}\n",
              "type": "string"
            },
            {
              "id": "5a05b2cf-80b3-4e46-ac9b-6c8a3e91a437",
              "name": "snippet",
              "value": "={{$json[\"snippet\"].slice(0, 150)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        32
      ],
      "id": "6d19f732-c490-420a-8e27-d66f2f8fb5f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "={{ $json.email_text }}",
        "categories": {
          "categories": [
            {
              "category": "HR",
              "description": "Emails concerning job applications, recruitment, interviews, employee relations, or internal policies."
            },
            {
              "category": "Customer Service",
              "description": "Questions, complaints, support requests, product issues, or general assistance from customers."
            },
            {
              "category": "Sales",
              "description": "Inquiries related to pricing, quotations, purchases, orders, or potential business opportunities."
            },
            {
              "category": "Marketing",
              "description": "Messages about promotions, advertising, campaigns, branding, partnerships, or market outreach."
            },
            {
              "category": "Fallback",
              "description": "Messages that do not clearly belong to any specific department or lack sufficient context."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an email classifier. Read the email and return ONLY the name of the single most appropriate category.\n\nCategories:\n- HR\n- Customer Service\n- Sales\n- Marketing\n- Fallback\n\nRules:\n- Return ONLY the category name\n- No JSON, no formatting, no explanation\n- Just the exact category name from the list above\n- Example: If it's a sales email, return only: Sales",
          "enableAutoFixing": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        128,
        32
      ],
      "id": "1d09dfab-7c05-43ce-907c-ea6e47e23032",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        320
      ],
      "id": "1c71c905-6276-4990-9a44-dd223a4ccb6f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pTeX7qUc4oIpamsz",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c02f20c3236c70",
          "threadId": "19c02f20c3236c70",
          "snippet": "Hello Marketing Team, I am reaching out to explore potential marketing or promotional opportunities with your brand. I am interested in learning more about your current campaigns and whether there is",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 8221,
          "historyId": "1203720",
          "internalDate": "1769575932000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Solomon James <solomonjames200sj@gmail.com>",
          "Subject": "Marketing Collaboration Inquiry",
          "To": "\"adeniranprecious002@gmail.com\" <adeniranprecious002@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "51ab8b46-ab0f-449d-9427-21bacc19c22d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c89bc580020e2b65b2c0080fba7b72d82724124a2aa9f2ecba425c9d92bcf9"
  },
  "id": "zO-ok4mbwWRQAS57sSwVE",
  "tags": []
}